<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
</head>
<body>
    <nav>
        <p id="userName" class="navName"></p>
        <div>
            <h2>Chat App</h2>
        </div>
    </nav>
    <div>
        <input type="text" placeholder="Type a message..." id="messageInput"/>
        <button>Send</button>
    </div>

    <script src="./chat.js"></script>
</body>
</html>